images/
3D-CNN-PyTorch/
*.pt
*.pth
*.out
*.err
segmentations/
nnUNet_pretrained_weights/
patient_info_files/
train_test_splits.csv
clinical_and_imaging_info.xlsx
preliminary_automatic_segmentations_quality_scores.csv
SYNAPSE_METADATA_MANIFEST.tsv
res_mini/checkpoints